{% extends "users/staff.html" %}
{% block tab %}
<div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="menu-tab">
    <div class="table-responsive" role="tabpanel">
    <table class="table">
        <tbody>
    {% for food_item in food_items %}
    <tr>
        <td><img style="width: 70px; height: 70px;" src="{{food_item.image.url}}" alt="food image"> </td>
        <td>{{food_item.name}}</td>
        <td>{{food_item.price}}</td>
        <td>{{food_item.description}}</td>
        <td>{{quantity}}</td>
        <td><form method="post" action="{% url 'delete-food' food_item.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm ml-2">Delete</button></form></td>
    </tr>
    {% endfor %}
        </tbody>
    </table>  
    </div>  
</div>
{% endblock tab %}