{% extends "users/staff.html" %}
{% block tab %}
<div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
    <div class="table-responsive" role="tabpanel">
        <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Timestamp</th>
                <th>Total Quantity</th>
                <th>Total Price</th>
                <th>Food Items</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
     <!-- for loops-->    
     {% for order in orders %}       
     <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.user.username }}</td>
        <td>{{ order.timestamp }}</td>
        <td>{{ order.total_quantity }}</td>
        <td>${{ order.total_price }}</td>
        <td><ul>
            {% for item in order.food_items.all %}
                <li>{{ item.food_item.name }} - Quantity: {{ item.quantity }}</li>
            {% endfor %}
            </ul>
        </td>
        <td>{{ order.status }}</td>
        <td><div class="btn-group" role="group" aria-label="Button group">
        <form method="post" action="{% url 'out-status' order.id %}">
         {% csrf_token %}
         <button type="submit" class="btn btn-danger btn-sm ml-2">Cancel</button></form>
         <form method="post" action="{% url 'change-status' order.id %}">
         {% csrf_token %}
         <button type="submit" class="btn btn-success btn-sm ml-2">Fulfilled</button></form></div></td>
     </tr>
     {% endfor %}
    <!--end loop-->
        </tbody>
        </table>
    </div>
    
</div>
{% endblock tab %}