{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'restaurant/main.css' %}">
	<title>newone</title>
</head>
<body>
    <header class="site-header">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <a class="navbar-brand" href="{% url 'restaurant-home' %}"><span style="color:green;font-family: 'Permanent Marker', cursive;">Food Hunt</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"> <a class="nav-link" href="{% url 'restaurant-home' %}">Home</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'menu' %}">Menu</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'staff-account' %}">Staff</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                        <li class="nav-item"><a class="btn btn-success" name="login" href="{% url 'logout' %}" type="submit">Log Out</a>&nbsp;&nbsp;&nbsp;
                        </li>
                    </ul>
                </div>
            </nav>
            {% else %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <a class="navbar-brand" href="{% url 'restaurant-home' %}"><span style="color:green;font-family: 'Permanent Marker', cursive;">Food Hunt</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"> <a class="nav-link" href="{% url 'restaurant-home' %}">Home</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'menu' %}">Menu</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'profile-account' %}">Profile</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                        <li class="nav-item"> <a href="{% url 'cart' %}"><span style="color:green;"><i class="fa fa-shopping-cart" aria-hidden="true"><span style="color:green;" id="cart"  class="badge badge-light">{{ cart_items_count }}</span></i></span></a>&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-success" name="login" href="{% url 'logout' %}" type="submit">Log Out</a>&nbsp;&nbsp;&nbsp;
                        </li>
                    </ul>
                </div>
            </nav>
            {% endif %}
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{% url 'restaurant-home' %}"><span style="color:green;font-family: 'Permanent Marker', cursive;">Food Hunt</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <a class="nav-link" href="{% url 'restaurant-home' %}">Home</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="{% url 'menu' %}">Menu</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                    <li class="nav-item"> <a href="{% url 'cart' %}"><span style="color:red;"><i class="fa fa-shopping-cart" aria-hidden="true"><span style="color:red;" id="cart"  class="badge badge-light">{{ cart_items_count }}</span></i></span></a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-outline-danger" name="login" type="submit" href="{% url 'login' %}">Log In</a>&nbsp;&nbsp;&nbsp;
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}
    </header>
    <main role="main">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" style="z-index: 999999999; margin-top: 60px;">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
        {% block content %}{% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>