{% extends "restaurant/base.html" %}
{% load static %}
{% block content %}
<br><br>
<div class="middle" style="padding: 30px; width: 100%;">
<!-- Tabs centers -->
<div class="tab-content">
 <div class="table-responsive" role="tabpanel" id="viewitem">
   <table class="table">
     <tbody>
        <!--for loop-->
        {% for item in items %}
       <tr>
         <td style="width: 300px;"><img src="{{item.food_item.image.url}}" alt="food image" width="20%" height="20%"> </td>
         <td>{{item.food_item.name}}</td>
         <td>{{item.food_item.price}}</td>
         <td>{{item.food_item.description}}</td>
         <td>{{item.quantity}}</td>
         <td><form method="POST" action="">
          <button type="submit" class="btn btn-danger">Delete</button></td>
        </form>
       </tr>
       {% endfor %}
       <!--end for loop-->
       <form method="post" action="">
       <td>
         <h5 style="color:red;">Grand total</h5>
       </td>
       <td>
       <h5><span style="text-decoration: line-through; text-decoration-style: double;">N</span>{{ total_price }}</h5>
       </td>
       <td>
       
       </td>
       <td></td>
       
       <td style="padding:30px; text-align:center;">
       <a href="#"><button type="button" style=" color:white; font-weight:bold; text-transform:uppercase;" class="btn btn-warning">Proceed to checkout</button></a>
       </td>
      </form>
     </tbody>
   </table>
 </div>
   
 </div>
 </div>

{% endblock content %}	