{% extends "users/profile.html" %}
{% block tab %}
<div class="tab-pane fade show active" id="food-tab" role="tabpanel" aria-labelledby="food-tab">
    <form method="POST" enctype="form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Update Account information</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock tab %}