{% extends "users/profile.html" %}
{% block tab %}
<div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
    <div class="table-responsive" role="tabpanel">
        {% if orders %}
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Timestamp</th>
                    <th>Food Price</th>
                    <th>Food Price - Quantity</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <!-- for loops-->
            {% for order in orders %}
            {% if order.status == 'OUT OF STOCK' %}
            <tr>
                <td>{{ order.user.username }}</td>
                <td>{{ order.timestamp }}</td>
                <td>${{ order.total_price }}</td>
                <td><ul>
                    {% for item in order.food_items.all %}
                        <li>{{ item.food_item.name }} - Quantity: {{ item.quantity }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ order.status }}</td>
                <td><div class="btn-group" role="group" aria-label="Button group">
                <form action="{% url 'delete-order' order.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm ml-2">Delete</button></form></div></td>
            </tr>
            {% elif order.status == 'Pending' %}
            <tr>
                <td>{{ order.user.username }}</td>
                <td>{{ order.timestamp }}</td>
                <td>${{ order.total_price }}</td>
                <td><ul>
                    {% for item in order.food_items.all %}
                        <li>{{ item.food_item.name }} - Quantity: {{ item.quantity }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ order.status }}</td>
                <td><div class="btn-group" role="group" aria-label="Button group">
                <form action="{% url 'delete-order' order.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm ml-2">Delete</button></form></div></td>
            </tr>
            {% else %}
            <!-- <tr>
                <td>{{ order.user.username }}</td>
                <td>{{ order.timestamp }}</td>
                <td>${{ order.total_price }}</td>
                <td><ul>
                    {% for item in order.food_items.all %}
                        <li>{{ item.food_item.name }} - Quantity: {{ item.quantity }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ order.status }}</td>
                
            </tr> -->
            {% endif %}
            {% endfor %}
             <!--end loop-->
            </tbody>
        </table>
        {%else %}
        <h2> No Orders yet</h2>
        {% endif %}
    </div>
</div>
{% endblock tab %}